<% include ../partials/header %>
<div class="container">
  
  <h1>Lista de Funcionários</h1>
  <a href="/condos/<%= condo._id %>/employees/new" class="btn btn-success"><i class="fa fa-plus-circle"></i> Adicionar Novo Funcionário</a> <br>

  <table id="index-table" class="table table-striped table-bordered" cellspacing="0">
    <thead>
      <tr>
        <th>Nome</th>
        <th>RG</th>
        <th>CPF</th>
        <th>Função</th>
      </tr>
    </thead>
    <tbody>
      <% condo.employees.forEach(function(employee) { %>        
        <tr>
          <td><a href="/condos/<%= condo._id %>/employees/<%= employee._id %>"><%= employee.name %></a></td>
          <td><%= employee.rg %></td>
          <td><%= employee.cpf %></td>
          <td><%= employee.role %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>


</div>

<% include ../partials/footer %>