<% include ../partials/header %>

<div class="container">

    <h1>Veículos em Apartamento <strong><%= apartment.number %></strong></h1>

    <% if (currentUser.role !== 'lobby') { %>
      <a href="/condos/<%= condo_id %>/towers/<%= tower_id %>/apartments/<%= apartment._id %>/vehicles/new" class="btn btn-success"><i class="fa fa-plus-circle"></i>  Novo Veículo</a>
    <% } %>

  <table id="index-table" class="table table-striped table-bordered" cellspacing="0">
    <thead>
      <tr>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Placa</th>
        <th>Cor</th>
      </tr>
    </thead>
    <tbody>
      <% apartment.vehicles.forEach(function(vehicle) { %>   
        <tr>
          <td><a href="/condos/<%= condo_id %>/towers/<%= tower_id %>/apartments/<%= apartment._id %>/vehicles/<%= vehicle._id %>"><%= vehicle.brand %></a></td>
          <td><%= vehicle.model %></td>
          <td><%= vehicle.plate %></td>
          <td><%= vehicle.color %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>

</div>

<% include ../partials/footer %>