<% include ../partials/header %>
<div class="container">
  
  <h1>List of Espaços</h1>
  <a href="/condos/<%= condo._id %>/spaces/new" class="btn btn-success">Adicionar Novo Espaço</a> <br>

  <table id="index-table" class="table table-striped table-bordered" cellspacing="0">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Lotação</th>
        <th>Valor de aluguel</th>
      </tr>
    </thead>
    <tbody>
      <% condo.spaces.forEach(function(space) { %>       
        <tr>
          <td><a href="/condos/<%= condo._id %>/spaces/<%= space._id %>"><%= space.name %></a></td>
          <td><%= space.maxCapacity %></td>
          <td><%= space.price %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>

  <h2>Minhas Reservas</h2>
  <% condo.spaces.forEach(function(space) { %>    
    <% space.scheduledDates.forEach(function(date) { %>    
      <p><%= date %></p>
    <% }) %>
  <% }) %>
  

</div>

<% include ../partials/footer %>