<% include ../partials/header %>

<div class="container">
    <h1>Scheduled Dates: </h1>
    <% space.scheduledDates.forEach(function(space) { %>       
        <h3><%= space %></h3>
    <% }) %>


    <div class="row">
        <h1 style="text-align: center;">Schedule an event in <%= space.name %></h1>
        <div style="width: 30%; margin: 20px auto;">
            <form action="/condos/<%= condo_id %>/spaces/<%= space._id %>/schedule?_method=PUT" method="post">
                <div class="form-group">
                    <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                        <input class="form-control" type="text" id="date" placeholder="Choose a date for your Event" name="space[scheduledDates]">
                    </div>

                </div>
                <div class="form-group">
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">
                </div>
            </form>
            <a href="/condos/<%= condo_id %>/spaces/<%= space.id %>/">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>