<% include ../partials/header %>
    <div class="container">
        <h1 style="text-align: center;">Agendar Evento em <strong><%= space.name %></strong></h1>
        <div style="width: 30%; margin: 20px auto;">
            <form action="/condos/<%= condo_id %>/spaces/<%= space._id %>/schedule?_method=PUT" method="post">
                <div class="form-group">
                    <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                        <input class="form-control" type="text" id="date" placeholder="Escolha a data do evento" name="space[scheduledDates]">
                    </div>
                </div>
                <div class="jumbotron" id="jumbotron-dates">
                    <div class="container">
                        <h4>Datas já agendadas:</h4>
                        <% space.scheduledDates.forEach(function(space) { %>       
                            <span><%= space.scheduledDates %> - </span>
                        <% }) %>                        
                    </div>
                </div>
                <span id="span-guests">
                    <h2 id="guest-list-header">Lista de Convidados</h2>
                </span>
                <span id="form-new-guest">
                    <div class="form-group">
                        <textarea class="form-control" rows="5" placeholder="Nomes" name="space[name]"></textarea>
                    </div>
                </span>
                <div class="form-group">
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Agendar">
                </div>
            </form>
            <a href="/condos/<%= condo_id %>/spaces/<%= space.id %>/">Voltar</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>