<% include ../partials/header %>
<div class="container">
    
    <h1><%= space.name %></h1>

    <% if (currentUser.role !== 'lobby') { %>
        <a href="/condos/<%= condo_id %>/spaces/<%= space._id %>/schedule" class="btn btn-success"><i class="fa fa-calendar" aria-hidden="true"></i> Reservar Espaço</a>
    <% } %>
    
    <% if (currentUser.role === 'admin') { %>
        <a class="btn btn-warning" href="/condos/<%= condo_id %>/spaces/<%= space._id %>/edit"><i class="fa fa-pencil" aria-hidden="true"></i> Editar Espaço</a>
        <form id="delete-form" action="/condos/<%= condo_id %>/spaces/<%= space._id %>?_method=DELETE" method="post">
            <button type="submit" class="btn btn-danger">
                <i class="fa fa-trash" aria-hidden="true"></i> Deletar
            </button>
        </form>
    <% } %>

    <h4>Lotação: <%= space.maxCapacity %></h4>
    <h4>Valor do Aluguel: <%= space.price %></h4>

</div>

<% include ../partials/footer %>