<% include ../partials/header %>

<div class="container">
  <h1>Apartments</h1>

  <a href="/condos/<%= condo_id %>/towers/<%= tower._id %>/apartments/new" class="btn btn-success">Add a New Apartment</a>

  <table id="index-table" class="table table-striped table-bordered" cellspacing="0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Floors</th>
      </tr>
    </thead>
    <tbody>
      <% tower.apartments.forEach(function(apartment) { %>      
        <tr>
          <td><a href="/condos/<%= condo_id %>/towers/<%= tower._id %>/apartments/<%= apartment._id %>"><%= apartment.number %></a></td>
          <td><%= apartment.floor %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
    
</div>

<% include ../partials/footer %>