<% include ../partials/header %>

<div class="container">

    <h1>Apartment number: <%= apartment.number %></h1>

    <h3>Apartment floor: <%= apartment.floor %></h3>

    <a href="/condos/<%= condo_id %>/towers/<%= tower_id %>/apartments/<%= apartment._id %>/dwellers">List of Dwellers</a><br>
    
    <a href="/condos/<%= condo_id %>/towers/<%= tower_id %>/apartments/<%= apartment._id %>/vehicles">List of Vehicles</a><br>

    <a href="/condos/<%= condo_id %>/towers/<%= tower_id %>/apartments/<%= apartment._id %>">Go Back</a>

</div>

<% include ../partials/footer %>