<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Editar <%= dweller.name %></h1>
        <div style="width: 30%; margin: 20px auto;">
            <form action="/condos/<%= condo_id %>/towers/<%= tower_id %>/apartments/<%= apartment_id %>/dwellers/<%= dweller._id %>?_method=PUT" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="dweller[name]" value="<%= dweller.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" id="cpf" name="dweller[cpf]" value="<%= dweller.cpf %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" id="rg" name="dweller[rg]" value="<%= dweller.rg %>">
                </div>
                <div class="form-group">
                    <div class="input-group date" data-provide="datepicker">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                        <input class="form-control" type="text" id="date" value="<%= dweller.birthday %>" name="dweller[birthday]">
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" id="phone" name="dweller[phone]" value="<%= dweller.phone %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="dweller[email]" value="<%= dweller.email %>">
                </div>
                <div class="form-group">
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Enviar">
                </div>
            </form>
            <a href="/dwellers">Voltar</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>