<% include ../partials/header %>

<div class="container">

    <h1>List of Dwellers</h1>

    <a href="/condos/<%= condo_id %>/towers/<%= tower_id %>/apartments/<%= apartment._id %>/dwellers/new" class="btn btn-success">Add a New Dweller</a>

    <% apartment.dwellers.forEach(function(dweller) { %>
    <li>
        <a href="/condos/<%= condo_id %>/towers/<%= tower_id %>/apartments/<%= apartment._id %>/dwellers/<%= dweller._id %>">+ </a> <%= dweller.name %> </strong> 
    </li>
    <% }) %>

</div>

<% include ../partials/footer %>