<% include ../partials/header %>
<div class="container">

    <h1>Administrador <strong><%= admin.name %></strong></h1>

    <% if (currentUser.role === 'admin') { %>

        <a href="/condos/<%= condo_id %>/admins/<%= admin._id %>/edit" class="btn btn-warning" data-toggle="tooltip" data-placement="left" title="Editar" data-original-title="Tooltip on left"><i class="fa fa-pencil"></i> Editar Administrador</a>

        <form id="delete-form" action="/condos/<%= condo_id %>/admins/<%= admin._id %>?_method=DELETE" method="post">
            <button type="submit" class="btn btn-danger">
                <i class="fa fa-trash"></i> Deletar
            </button>
        </form>
    <% } %>


    <h4>CPF: <%= admin.cpf %></h4>
    <h4>Função: <%= admin.function %></h4>

</div>

<% include ../partials/footer %>