<% include ../partials/header %>
<div class="container">

    <h1><strong><%= condo.name %></strong></h1>
    <a href="/condos/<%= condo._id %>/edit" class="btn btn-warning" data-toggle="tooltip" data-placement="left" title="Editar" data-original-title="Tooltip on left">Editar Condomínio</a>
    <form id="delete-form" action="/condos/<%= condo._id %>?_method=DELETE" method="post">
        <input type="button" class="btn btn-danger" value="Deletar">
    </form>

    <h3><%= condo.address %></h3>

    <hr>

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-blue">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-building fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="tile-title">Torres</div>
                        </div>
                    </div>
                </div>
                <a href="/condos/<%= condo._id %>/towers">
                    <div class="panel-footer">
                        <span class="pull-left">Ver Detalhes</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-birthday-cake fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="tile-title-smaller">Espaços Sociais</div>
                        </div>
                    </div>
                </div>
                <a href="/condos/<%= condo._id %>/spaces">
                    <div class="panel-footer">
                        <span class="pull-left">Ver Detalhes</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-wrench fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="tile-title-smaller">Funcionários</div>
                        </div>
                    </div>
                </div>
                <a href="/condos/<%= condo._id %>/employees">
                    <div class="panel-footer">
                        <span class="pull-left">Ver Detalhes</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="tile-title">Comentários</div>
                        </div>
                    </div>
                </div>
                <a href="/condos/<%= condo._id %>/feedbacks">
                    <div class="panel-footer">
                        <span class="pull-left">Ver Detalhes</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>

<% include ../partials/footer %>