<% include ../partials/header %>

<h1><%= condo.name %></h1>

<h3><%= condo.address %></h3>

<h4Towers</h4>
<% condo.towers.forEach(function(tower) { %>
  <p>
    <%= tower.name %> - <%= tower.floors %> - <%= tower.apartmentsPerFloor %>
  </p>
<% }) %>


<a href="/condos/<%= condo._id %>/edit">Edit Condo</a> <br>
<a href="/towers">List of Towers</a> <br>
<a href="/towers/new">Add New Tower</a> <br>
<a href="/condos">Go Back</a>

<% include ../partials/footer %>