<% include ../partials/header %>
<div class="container">
  
  <h1>Lista de Torres</h1>
  <a href="/condos/<%= condo._id %>/towers/new" class="btn btn-success"><i class="fa fa-plus-circle"></i> Adicionar Nova Torre</a> <br>

  <table id="index-table" class="table table-striped table-bordered" cellspacing="0">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Andar</th>
        <th>Apartamentos Por Andar</th>
      </tr>
    </thead>
    <tbody>
      <% condo.towers.forEach(function(tower) { %>        
        <tr>
          <td><a href="/condos/<%= condo._id %>/towers/<%= tower._id %>"><%= tower.name %></a></td>
          <td><%= tower.floors %></td>
          <td><%= tower.apartmentsPerFloor %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>


</div>

<% include ../partials/footer %>