<% include ../partials/header %>
<div class="container">
  
  <h1>List of Towers</h1>
  <a href="/condos/<%= condo._id %>/towers/new" class="btn btn-success">Add New Tower</a> <br>

  <table id="index-table" class="table table-striped table-bordered" cellspacing="0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Floors</th>
        <th>Apartments Per Floor</th>
      </tr>
    </thead>
    <tbody>
      <% condo.towers.forEach(function(tower) { %>        
        <tr>
          <td><a href="/condos/<%= condo._id %>/towers/<%= tower._id %>"><%= tower.name %></a></td>
          <td><%= tower.floors %></td>
          <td><%= tower.apartmentsPerFloor %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>


</div>

<% include ../partials/footer %>