<% include ../partials/header %>
<div class="container">

    <h1>Torre <strong><%= tower.name %></strong></h1>

    <a href="/condos/<%= condo_id %>/towers/<%= tower._id %>/edit" class="btn btn-warning" data-toggle="tooltip" data-placement="left" title="Editar" data-original-title="Tooltip on left"><i class="fa fa-pencil"></i> Editar Apartmento</a>    
    <form id="delete-form" action="/condos/<%= condo_id %>/towers/<%= tower._id %>?_method=DELETE" method="post">
        <button type="submit" class="btn btn-danger">
            <i class="fa fa-trash"></i> Deletar
        </button>
    </form>


    <h4><%= tower.floors %>ยบ andar</h4>
    <h4><%= tower.apartmentsPerFloor %> apartamentos por andar</h4>

    <hr>

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-blue">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-home fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="tile-title-smaller">Apartamentos</div>
                        </div>
                    </div>
                </div>
                <a href="/condos/<%= condo_id %>/towers/<%= tower._id %>/apartments">
                    <div class="panel-footer">
                        <span class="pull-left">Ver Detalhes</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>